@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            <label>Email:</label>
            <input type="email" name="email" required />
        </div>
        <div>
            <label>Lozinka:</label>
            <input type="password" name="password" required />
        </div>
        <button type="submit">Prijavi se</button>
    </div>
</body>
</html>
